@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');
:root {
  --black: #20211F;
  --darkGreen: #B0CC76;
  --lightGreen: #D6E0C1;
  --tan: #E4EDD3;
  --offwhite: #F0F7E4;
  --white: #F8FCF0;

}

html,
body,
div,
h1,
h2,
h3,
h4
 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Forum';
  font-weight: 400;
  color: var(--offwhite);
}

a {
  text-decoration: none;
  color: white;
  margin: 0 0;
}

p {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
  font-size: 1.5rem;
  font-weight: 300;
}

body {
  overflow-x: hidden;
  width: 100vw;
}


.mainPage {
  position: relative;
  width: 100vw;
  overflow-x: hidden;


}

.backgroundLines {
  position: absolute;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--black);
}

.backgroundLines div {
  border-right: 1px solid rgb(179, 178, 178, .15);
  height: 100%;
  width: 100%;
}


.henryBox {
  margin-top: 0;
  margin-left: 5vw;
  width: 200px;
  height: 54px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: .1rem;
  cursor: pointer;

}

.henryBox p {
  font-family: 'Forum';
  font-size: 1.7rem;

}

.main {
  padding-top: 5vh;
}



.main h1 {
  margin-top: 25vh;
  margin-left: 5vw;
  font-size: 10rem;
  font-weight: 400;
  letter-spacing: .3rem;



}






.main h2 {
  padding-left: 5vw;
  margin-top: 1vh;
  font-size: 3.2rem;
  letter-spacing: .15rem;

}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.spinHolder {
  margin-top: 2.5vh;
  margin-left: 75%;
}
.spinner {
  animation: spin 20s linear infinite;
}

.whatImInto {
  margin-top: 15vh;
  display: grid;
  grid-template-columns: 75% 25%;
}

.interests {
  width: fit-content;
  margin-left: 5vw;

}


h3 {
  font-size: 2.2rem;
  font-weight: 400;
  letter-spacing: .1rem;
  /* float: center; */
}

.interests h3 {
  padding-bottom: 1vh;
  border-bottom: 1px solid var(--white);
}



.tools {
  margin-left: 0;
  width: 80%;
}

.myTools {
  width: fit-content;
}

.myTools h3 {
  padding-bottom: 1vh;
  border-bottom: 1px solid var(--white);
}



.description {
  padding-top: 5vh;
  margin-left: 5vw;
  font-size: 1.3rem;
  width: 40vw;
  line-height: 1.5;
}

.tools p {
  margin-top: 4vh;
  width: 60%;
  font-weight: 500;
  line-height: 1.5;
  font-size: 1.1rem;
  font-family: 'Poppins';
  font-weight: 700;
  letter-spacing: .05rem;

}

.projects {
  margin-top: 20vh;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  position: relative;
}

.projects h1{
  z-index: 5;
  margin-left: 5vw;
  margin-top: 25vh;
  font-size: 10rem;
  width: 50%;
  padding-bottom: 20vh;
}



.image1 {
  opacity: .9;
  width: 25vw;
  height: 25vw;
  position: relative;

}


.image2 {
  opacity: .9;
  width: 25vw;
  height: 25vw;
  position: relative;
  margin-top: 58vh;
}

.image3 {
  opacity: .9;
  width: 25vw;
  height: 25vw;
  position: relative;
}

.project {
  margin-top: 35vh;
  margin-bottom: 30vh;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}



.projectRight {
  margin-top: 35vh;
  margin-bottom: 30vh;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.highlightImage {
  padding-left: 10vw;
  width: 50vw;
  height: 60vh;
  position: relative;
}




.imageRight {
  margin-left: 0%;
}



.projectDescription  {
  margin-left: 8vw;
  margin-top: 10vh;
}


.projectDescription  h3 {
  font-size: 4.4rem;
}

.projectDescription p {
  margin-top: 3vh;
  font-weight: 500;
  width: 30%;
  line-height: 1.5;
}

.projectButton {
  font-size: 1.1rem;
  font-family: 'Syncopate';
  letter-spacing: .4rem;
  cursor: pointer;
  text-align: center;

}

.footer {
  padding-top: 10vh;
  border-top: 1px solid rgb(179, 178, 178, .15);
  display: grid;
  grid-template-columns: 40% 60%;
  background-color: var(--black);
}

.whiteFooter {
  padding-top: 10vh;
  border-top: 1px solid rgb(179, 178, 178, .15);
  display: grid;
  grid-template-columns: 40% 60%;
  background-color: var(--tan);
}

.footNav {
  margin-left: 5vw;
}

.footNav li {
  list-style: none;
  margin-bottom: 3vh;
  font-size: 1.4rem;
  border-bottom: 1px solid white;
  padding-bottom: .05rem;
  width: fit-content;
  cursor: pointer;
}

.whiteFootNav {
  margin-left: 5vw;
}

.whiteFootNav li {
  list-style: none;
  margin-bottom: 3vh;
  font-size: 1.4rem;
  border-bottom: 1px solid var(--black);
  color: var(--black);
  padding-bottom: .05rem;
  width: fit-content;
  cursor: pointer;
}

.socialsBox {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 2vh;
  width: 200px;
  margin-left: 5vw;
  display: flex;
  justify-content: space-between;
}

.projectPage {
  padding-top: 5vh;
  border-top: 1px solid rgb(179, 178, 178, .15);
  color: var(--black);
  padding-bottom: 18vh;
  margin: 0 0;
}

.projectPage h1 {
  color: var(--black);

}


.projectPage h1 {
  margin-top: 15vh;
  margin-left: 5vw;
  font-size: 4.5rem;
  letter-spacing: .2rem;
}

.projectPage h3 {
  margin-top: 12vh;
  margin-left: 5vw;
  color: var(--black);;
  padding-bottom: .5rem;
  border-bottom: 1px solid var(--black);;
  width: fit-content;
}

.projectPage p {
  margin-top: 5vh;
  margin-left: 5vw;
  width: 45vw;
  color: var(--black);;
}
.henryBoxWhite {
  font-family: 'Forum';
  margin-left: 5vw;
  width: 200px;
  height: 54px;
  border: 1px solid var(--black);;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: .1rem;
  color: var(--black);
  cursor: pointer;
}

.henryBoxWhite div {
  color: var(--black);
  font-family: 'Forum';
  font-size: 1.7rem;
}



.whiteBackgroundLines {
  margin-top: 0;
  position: absolute;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  min-height: 100%;
  width: 100%;
  z-index: -1;
  background-color: var(--tan);
}


.whiteBackgroundLines div {
  border-right: 1px solid rgb(179, 178, 178, .15);
  min-height: 100%;
  width: 100%;
}

.projectInfo {
  display: grid;
  grid-template-columns: 50% 50%;
}

.projectInfo h4 {
  color: var(--black);
}

.projectTools {
  margin-top: 20vh;
  border: 1px solid var(--black);;
  margin-left: 15vw;
  width: 20vw;
  background-color: var(--tan);
}

.projectTools h3 {
  margin-left: 2.5vw;
  margin-top: 12%;
  font-size: 2.2rem;
}

.projectTools h4 {
  margin-left: 2.5vw;
  margin-top: 18%;
  font-size: 1.2rem;
  font-family: sans-serif;
  width: 50%;
}

.livesite {
  font-weight: 800;
  font-size: 1.3rem;
  margin-top: 10vh;
  font-family: sans-serif;
  letter-spacing: .4rem;
  cursor: pointer;
  color: var(--black);;
  width: 60%;
  margin-left: 20%;
}

.carousel {
  margin: 0 0;
  padding-top: 15vh;
  background-color: var(--black);
  display: grid;
  justify-content: center;
}

.carouselImage {
  width: 100vw;
  height: 50vh;
  position: relative;
  animation: appear ease .7s;

}

.carousel img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height: 400px;
}

.carousel h3 {
  display: block;
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.5rem;
  border-bottom: 1px solid var(--offwhite)

}

.carousel p {
  margin-top: 4vh;
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.5;

}

.nextProject {
  margin-top: 10vh;
  display: grid;
  grid-template-columns: 50% 50%;
  border-top: 1px solid rgb(179, 178, 178, .15);
  margin-bottom: 0;
}

.prev {
  border-right: 1px solid rgb(179, 178, 178, .15);
  width: 100%;
  height: 18vh;
  padding-top: 4vh;
}

.next {
  width: 100%;
  height: 18vh;
  padding-top: 4vh;
}

.prev p {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Syncopate';
  cursor: pointer;
}
.next p {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Syncopate';
  cursor: pointer;
}


.photoHead {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: var(--offwhite);

}

.photoBackgroundLines {
  margin-top: 0;
  position: absolute;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  height: 300vh;
  width: 100%;
}

.photoBackgroundLines div {
  border-right: 1px solid rgb(179, 178, 178, .15);
  height: 100%;
  width: 100%;
  z-index: 1;

}




.about {
  padding-top: 35vh;
}



.about p {
  color: var(--black);
  margin-left: 5vw;
  margin-right: 8vw;
  line-height: 1.5;
  font-size: 1.6rem;
  font-family: 'Forum';
}


.bigImage {
  background-color: var(--black);
  height: 100vh;
  width: 50vw;
  position: relative;
  margin: 0 0 ;
  z-index: 1;
}






.hcfLogo {
  position: absolute;
  margin-left: 5vw;
  margin-top: 5vh;
  width: 200px;
  height: 54px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: .1rem;
  z-index: 2;
  cursor: pointer;
}

.hcfLogo p {
  font-family: 'Forum';
  font-size: 1.7rem;
}

.projDescription {
  color: var(--black);
  padding-top: 40%;
  padding-left: 5vw;
  padding-right: 10vw;
}


.projDescription h1 {
  color: var(--black);
}

.projDescription h3 {
  margin-top: 2vh;
  color: var(--black);
  font-size: 1.2rem;
  font-family: sans-serif;
  font-weight: 600;
}

.projDescription p {
  margin-top: 2vh;
  font-size: 1.2rem;
  line-height: 1.5;

}



.imageArrows {
  margin-top: 2vh;
  display: flex;
  max-width: 80%;
  align-items: center;
  height: fit-content;
}
.projArrows {
  width: 100%;
  margin-top: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.dots {
  margin-left: 1vw;
  margin-right: 1vw;
  display: flex;
  justify-content: space-between;
}

.dot {
  margin-right: .2rem;
  margin-left: .2rem;
  width: .8rem;
  height: .8rem;
  border: 1px solid var(--black);
  border-radius: .8rem;
}

.whitedot {
  margin-right: .2rem;
  margin-left: .2rem;
  width: .8rem;
  height: .8rem;
  border: 1px solid var(--white);
  border-radius: .8rem;
}

.solidDot {
  margin-right: .2rem;
  margin-left: .2rem;
  width: .8rem;
  height: .8rem;
  border: 1px solid var(--black);
  border-radius: .8rem;
  background-color: var(--black);
  animation: appear .2s ease;

}

.solidwhiteDot {
  margin-right: .2rem;
  margin-left: .2rem;
  width: .8rem;
  height: .8rem;
  border: 1px solid var(--white);
  border-radius: .8rem;
  background-color: var(--white);

}
.arrow {
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  width: 43px;
  height: 25px;
  position: relative;
  z-index: 3;
}





.photoProj {
  padding: 0 0;
}


.menuHeader {
  position: absolute;
  right: 3.5vw;
  top: 1.8vh;
  color: var(--black);
  display: inline-block;
  width: 150px;
  font-family: 'Syncopate', sans-serif;
  font-size: .8rem;
  text-align: right;
  cursor: default;
}

.whiteMenuHeader {
  position: absolute;
  right: 3vw;
  top: 1.8vh;
  color: var(--white);
  display: inline-block;
  width: 150px;
  font-family: 'Syncopate', sans-serif;
  font-size: .8rem;
  text-align: center;
  cursor: default;

}
.menu {
  position: absolute;
  cursor: pointer;
  top: 2.5vh;
  right: 5vw;
  width: 2.5vw;
  height: 5vh;
  z-index: 5;
}




@keyframes slideIn {
  0% {
    transform: translateY(-900px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  0% {
    height: 100vh;
  }
  100% {
    height: 0vh;
  }
}

@keyframes appear {
  0% {
    /* transform: translateX(-20px); */
    opacity: 0;
  }
  100% {
    /* transform: translateY(0); */
    opacity: 1;
  }
}

.slideImage {
  width: 100%;
  height: 100%;
  animation: appear ease .7s;

}

.menuPage {
  animation: slideIn ease .5s;
  padding-top: 24vh;
  z-index: 1;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: var(--darkGreen);
  display: grid;
  grid-template-columns: 50% 50%;
  z-index: 3;

}

.closed {
  position: absolute;
  height: 100vh;
  width: 100vw;
  animation: slideOut ease .5s;
  animation-fill-mode: forwards;
  background-color: var(--darkGreen);
  z-index: 2;

}


.greenBackgroundLines {
  margin-top: 0;
  position: absolute;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: none
}

.greenBackgroundLines div {
  border-right: 1px solid rgba(255, 255, 255, 0.15);
  height: 100%;
  width: 100%;
}

/* .pageList {
  height: 50vh;
} */

.pages {
  margin-left: 2.5vw;
  display: flex;
  flex-direction: column;
  height: 62vh;
  justify-content: space-between;
}

@keyframes slideAppear {
  0% {transform: translateY(500px); opacity: 0;}
  100% {transform: translateY(0); opacity: 1;}
}

.link {
  list-style: none;
  font-family: 'Syncopate', sans-serif;
  font-size: 3.2rem;
  letter-spacing: .15rem;
  color: var(--darkGreen);
  -webkit-text-stroke: 1px var(--white);
  cursor: pointer;
  transition: .3s ease-in-out;

}

.selected {
  list-style: none;
  font-family: 'Syncopate', sans-serif;
  font-size: 3.2rem;
  letter-spacing: .15rem;
  color: var(--white);
  -webkit-text-stroke: 1px var(--white);
  cursor: pointer;
  transition: .3s ease-in-out;

}




.henryBoxMenu {
  animation: slideIn ease .5s;
  position: absolute;
  margin-top: 5vh;
  margin-left: 5vw;
  width: 200px;
  height: 54px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: .1rem;
  z-index: 7;
  cursor: pointer;
}

.henryBoxMenu p {
  font-family: 'Forum';
  font-size: 1.7rem;
}

.aboutHolder {
  padding-top: 5vh;
}

.aboutPage {
  padding-top: 5vh;
  padding-bottom: 10vh;
  display: grid;
  grid-template-columns: 50% 50%;
}

.aboutPhoto {
  margin-top: 9vh;
  position: relative;
  width: 100%;
  height: 60vh;
}

.aboutText {
  margin-top: 10vh;
  color: var(--black);
  width: 80%;
}

.aboutText h3 {
  color: var(--black);
}

.aboutText p {
  margin-top: 5vh;
  font-size: 1.3rem;
  line-height: 1.5;
}

.getInTouch {
  display: flex;
  height: 50px;
  align-items: center;
  width: 20vw;
  padding: 0 0;
  justify-content: space-between;
  transition: ease-in-out 350ms;
}

.getInTouchHover {
  margin-left: .4vw;
  display: flex;
  height: 50px;
  align-items: center;
  width: 20vw;
  padding: 0 0;
  justify-content: space-between;
  transition: ease-in-out 350ms;

}


.getInTouch p {
  color: var(--black);
  font-family: 'Syncopate', sans-serif;
  font-size: 1.3rem;
  cursor: pointer;
  margin: 0 0;
}

.getInTouchHover p {
  color: var(--black);
  font-family: 'Syncopate', sans-serif;
  font-size: 1.3rem;
  cursor: pointer;
  margin: 0 0;
}


.contactPage {
  padding-top: 5vh;
}

.contact {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 0 0;

}

.contactText {
  padding-right: 15vw;
}

.contactText p {
  color: var(--black);
  margin-top: 20vh;
  line-height: 1.5;
  font-family: 'Forum';
  font-size: 1.8rem;
}

.contactText h4 {
  font-size: 1.2rem;
  margin-top: 4vh;
  color: var(--black);
  font-family: 'Poppins';
  font-weight: 700;
}

.bigSocials {
  margin-top: 4vh;
  width: 16vw;
  display: flex;
  justify-content: space-between;
}

.form {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  padding: 0 0;
}

input {
  border: none;
  border-bottom: 1px solid var(--black);
  outline: none;
  height: 5vh;
  margin-bottom: 5vh;
  margin-left: 5vw;
  width: 19.7vw;
  background: transparent;
  text-align: top;
  font-family: 'Forum';
  font-size: 1.3rem;
  color: var(--black)
}

.send {
  border: none;
  width: fit-content;
  height: fit-content;
  font-family: 'Syncopate';
  font-size: 1.2rem;
  cursor: pointer;
}

.big {
  border: 1px solid var(--black);
  width: 38vw;
  background-color: var(--tan);
  padding-bottom: 20vh;
  padding-left: 1vw;

}

::placeholder {
  color: var(--black);
}

.arrowLine {
  width: 30px;
  height: 1px;
  border-top: 1px solid var(--black);
  margin: 0 0;
}

.whiteArrowLine {
  width: 30px;
  height: 2px;
  /* border-top: 1px solid var(--white); */
  border-top: 1px solid rgb(255, 255, 255, .25);
  padding-bottom: 1px;
  margin: 0 0;
}



.sendArrow input {
  height: fit-content;
  margin: 0 0;
}

.sendArrow {
  margin-left: 5vw;
  display: flex;
  align-items: center;
  height: fit-content;
  width: 12vw;
  cursor: pointer;
  transition: ease-in-out 300ms;
}

.projectArrow {
  display: flex;
  align-items: center;
  height: 50px;
  width: 22vw;
  cursor: pointer;
  transition: ease-in-out 300ms;
  justify-content: space-between
}

.move {
  margin-left: .4vw;
  transition: ease-in-out .4s;
}

.moveBack {
  margin-left: 0vw;
  transition: ease-in-out .4s;

}

.projectArrow {
  display: flex;
  align-items: center;
  height: 50px;
  width: 22vw;
  cursor: pointer;
  transition: ease-in-out 300ms;
  justify-content: space-between
}


.moveArrow {
  margin-left: 5.4vw;
  display: flex;
  align-items: center;
  height: fit-content;
  transition: ease-in-out 300ms;
}
.moveArrow input {
  height: fit-content;
  margin: 0 0;
}



.smallArrow {
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  width: 30px;
  height: 21px;
  position: relative;
}

























/*

.image img {
  flex: none;
  /* transition: .5s ease-in-out; */
  /* transition: transform .6s;
} */

/* .image img:hover {
  transform: scale(1.05);
  transition: transform .6s;
}

 */
